body {
            font-family: 'montserrat', sans-serif;
        } 
.nav-link{
    border-radius: 20%;
}

.home:hover {
    transition: 0.3s;
    background-color:rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);
    box-shadow: 0px 2px 0px 0px rgba(180, 180, 180, 0.7);
}

.tentang-acara:hover {
    transition: 0.3s;
    background-color:rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);
    box-shadow: 0px 2px 0px 0px rgba(180, 180, 180, 0.7);
    
}

/* Untuk tautan "Galeri" */
.galeri:hover {
    transition: 0.3s;
    background-color:rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);
    box-shadow: 0px 2px 0px 0px rgba(180, 180, 180, 0.7);
    
}

/* Untuk tautan "Berita" */
.berita:hover {
    transition: 0.3s;
    background-color:rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);
    box-shadow: 0px 2px 0px 0px rgba(180, 180, 180, 0.7);
    
}      

#navBar button{
    background: rgb(60,115,255);
    background: linear-gradient(54deg, rgba(60,115,255,1) 0%, rgba(71,123,255,1) 42%, rgba(89,255,185,1) 100%);
    border: none;
    border-radius: 5px; 
}

#navBar button:hover{
    transition: 0.3s; /* Mengubah transisi animasi menjadi 3 detik */
    transform: translateY(-2px);
    background: rgb(60,115,255);
    background: linear-gradient(298deg, rgba(60,115,255,1) 0%, rgba(71,123,255,1) 30%, rgba(89,255,185,1) 100%);
    border: none;
    box-shadow: 0px 2px 0px 0px rgba(180, 180, 180, 0.7);
    border-radius: 5px;
}

#hero {
    background-image: url('/img/bg-desktop-1.png');
    background-size: cover;
    background-position: center;
    height: 130vh;
}

#hero .container{
    height: 130vh;

}

.shadow-text {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

#informasi p{
    line-height: 1.3;
    margin: 0.42rem;
    /* padding: 0;   */
}        

.image-zoom {
    overflow: hidden;
    position: relative;
}

.image-zoom img {
    transition: transform 0.3s ease; /* Efek transisi saat zoom */
}

.image-zoom:hover img {
    transform: scale(1.2); /* Skala gambar saat dihover */
}

#informasi .bg-primary{
    background-size: 400%;
    transition: 1.5s;
    background-image: linear-gradient(to left,rgb(202, 190, 255),blue,rgb(202, 190, 255),blue);
    border: none;
}

#informasi .bg-primary:hover{
    background-position: bottom;
}

.bg-sponsor{
    background: rgb(0,72,255);
    background: linear-gradient(90deg, rgba(0,72,255,1) 7%, rgba(8,77,255,1) 49%, rgba(75,126,255,1) 79%);
}
.carousel-indicators img{
    width: 27.5vh;
    display: block;
    filter: grayscale(100%);
}

.carousel-indicators button.active img {
    filter: grayscale(0%);
}

.carousel-indicators button{
    width: max-content!important;
}

.carousel-indicators{
    position: unset;

}

#berita {
    background-image: url('/img/bg-desktop-2.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 230vh;
}

#berita ul li{
    background-color: blue;
}

.tombol{
    background-color: rgb(117, 117, 243);
}

.card i{
    position: absolute; 
    float: left;
    top: 10px; 
    left: 40vh;
    
}





/* Responsif Ipad */
@media screen and (max-width: 1000px) {

    #hero {
    background-image: url('/img/bg-desktop-1.png');
    background-size: cover;
    background-position: center;
    width: auto;
    height: 60vh;
}

#hero .container{
    height: 60vh;

}

    #hero img{
    height: auto;
    width: 40vw;
    display: block;
}

.carousel-indicators img{
    width: 15vh;
    display: block;
    filter: grayscale(100%);
}

#sponsor img{
    width: auto;
    height: 8vh;
}

#berita {
    background-image: url('/img/bg-desktop-3.png');
    background-size: cover;
    background-position: center;
    width: auto;
    height: 380vh;
}

.card i{
    position: absolute; 
    float: left;
    top: 10px; 
    left: 50vh;
    
}
}









/* Responsif SmartPhone */

@media screen and (max-width: 768px) {

    #hero {
    background-image: url('/img/bg-desktop-1.png');
    background-size: cover;
    background-position: center;
    width: auto;
    height: 40vh;
}

#navBar .navbar-brand img{
    width: 20vw;
}

#hero .container{
    height: 50vh;

}

    #hero img{
    height: auto;
    width: 40vw;
    display: block;
}

.carousel-indicators img{
    width: 11vh;
    display: block;
    filter: grayscale(100%);
}

#sponsor img{
    width: auto;
    height: 5vh;
}

#berita {
    background-image: url('/img/bg-desktop-3.png');
    background-size: cover;
    background-position: center;
    width: auto;
    height: 320vh;
}

.card i{
    position: absolute; 
    float: left;
    top: 10px; 
    left: 35vh;
    
}

}

@media screen and (max-width: 580px) {
#sponsor img{
    width: auto;
    height: 4vh;
}
}